# Supabase Web API Credentials
NEXT_PUBLIC_SUPABASE_URL=https://agqrrsbdbqlavifgcfwv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Supabase PostgreSQL Direct Database Connection
PGHOST=db.agqrrsbdbqlavifgcfwv.supabase.co
PGPORT=5432
PGUSER=postgres
PGDATABASE=postgres
PGPASSWORD=your_supabase_db_password
